In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
deliveryPath = "IPL2025/deliveries.csv";
matchesPath = "IPL2025/matches.csv";
orange_capPath = "IPL2025/orange_cap.csv";
purple_capPath = "IPL2025/purple_cap.csv";

In [6]:
delivery_dataset = pd.read_csv(deliveryPath);
matches_dataset = pd.read_csv(matchesPath);
orange_cap_dataset = pd.read_csv(orange_capPath);
purple_cap_dataset = pd.read_csv(purple_capPath);

In [8]:
delivery_dataset.head()

,match_no,date,stage,venue,batting_team,bowling_team,innings,over,striker,bowler,runs_of_bat,extras,wide,legbyes,byes,noballs,wicket_type,player_dismissed,fielder
0,1,"Mar 22, 2025",League stage,"Eden Gardens, Kolkata",KKR,RCB,1,0.1,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN
1,1,"Mar 22, 2025",League stage,"Eden Gardens, Kolkata",KKR,RCB,1,0.2,de Kock,Hazlewood,4,0,0,0,0,0,NaN,NaN,NaN
2,1,"Mar 22, 2025",League stage,"Eden Gardens, Kolkata",KKR,RCB,1,0.3,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN
3,1,"Mar 22, 2025",League stage,"Eden Gardens, Kolkata",KKR,RCB,1,0.4,de Kock,Hazlewood,0,0,0,0,0,0,NaN,NaN,NaN
4,1,"Mar 22, 2025",League stage,"Eden Gardens, Kolkata",KKR,RCB,1,0.5,de Kock,Hazlewood,0,0,0,0,0,0,caught,de Kock,Jitesh Sharma

In [10]:
delivery_dataset.shape

(17183, 19)

In [12]:
delivery_dataset.columns

Index(['match_no', 'date', 'stage', 'venue', 'batting_team', 'bowling_team',
       'innings', 'over', 'striker', 'bowler', 'runs_of_bat', 'extras', 'wide',
       'legbyes', 'byes', 'noballs', 'wicket_type', 'player_dismissed',
       'fielder'],
      dtype='object')

In [14]:
delivery_dataset.isna().sum()

match_no                0
date                    0
stage                   0
venue                   0
batting_team            0
bowling_team            0
innings                 0
over                    0
striker                 0
bowler                  0
runs_of_bat             0
extras                  0
wide                    0
legbyes                 0
byes                    0
noballs                 0
wicket_type         16311
player_dismissed    16311
fielder             16504
dtype: int64

In [16]:
# Top 10 bowlers who had the most number of dot balls
dotballs = delivery_dataset[(delivery_dataset["runs_of_bat"] == 0)
& (delivery_dataset["extras"] == 0)
& (delivery_dataset["wide"] == 0)
& (delivery_dataset["legbyes"] == 0)
& (delivery_dataset["byes"] == 0)
& (delivery_dataset["noballs"] == 0)];
most_dot_balls = dotballs.groupby("bowler").size().reset_index(name="Number of dot balls").sort_values(by="Number of dot balls" ,ascending=False).head(10).reset_index(drop=True);
most_dot_balls

                bowler  Number of dot balls
0                Siraj                  141
1              Prasidh                  135
2       Arshdeep Singh                  134
3        Khaleel Ahmed                  131
4               Bumrah                  125
5                Boult                  124
6            Hazlewood                  117
7          Bhuvneshwar                  116
8  Varun Chakaravarthy                  114
9              Cummins                  111

In [18]:
# Most wide and no balls
noballs = delivery_dataset[(delivery_dataset["wide"] != 0) | (delivery_dataset["noballs"] != 0)]
# noballs.shape
most_extras = noballs.groupby("bowler").size().reset_index(name="Number of extras").sort_values(by="Number of extras", ascending=False).head(10).reset_index(drop=True);
most_extras

             bowler  Number of extras
0         Pathirana                33
1             Siraj                22
2     Harshal Patel                21
3  Tushar Deshpande                19
4        Theekshana                18
5      Jofra Archer                18
6    Sandeep Sharma                18
7            Chahar                17
8      Mukesh Kumar                17
9    Arshdeep Singh                17

In [22]:
# Most bowling friendly pitch/venue
wicket_deliveries = delivery_dataset[delivery_dataset["wicket_type"].notna()]
wicket_deliveries.shape

(872, 19)

In [24]:
venuesByWickets = wicket_deliveries.groupby("venue").size().reset_index(name="Wickets fallen").sort_values(by="Wickets fallen", ascending=False).reset_index(drop=True);
venueByMatchesPlayed = delivery_dataset.groupby("venue")["match_no"].nunique().reset_index(name="Number of matches played").sort_values(by="Number of matches played", ascending=False).reset_index(drop=True);
df = pd.merge(venueByMatchesPlayed, venuesByWickets, on="venue");
df

,venue,Number of matches played,Wickets fallen
0,"Narendra Modi Stadium, Ahmedabad",9,116
1,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,8,87
2,"Arun Jaitley Stadium, Delhi",7,85
3,"Eden Gardens, Kolkata",7,78
4,"Sawai Mansingh Stadium, Jaipur",7,67
5,"Wankhede Stadium, Mumbai",7,90
6,"MA Chidambaram Stadium, Chennai",6,83
7,"Rajiv Gandhi International Stadium, Hyderabad",6,63
8,"M.Chinnaswamy Stadium, Bengaluru",5,59
9,Maharaja Yadavindra Singh International Cricke...,5,65
10,"Barsapara Cricket Stadium, Guwahati",2,26
11,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,2,30
12,"Himachal Pradesh Cricket Association Stadium, ...",1,12
13,Maharaja Yadavindra Singh International Cricke...,1,11

In [32]:
matches_dataset.head()

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,...,match_result,match_winner,wb_runs,wb_wickets,balls_left,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,1,"March 22,2025","Eden Gardens, Kolkata",KKR,RCB,League,RCB,Bowl,174.0,8.0,...,completed,RCB,NaN,7,22.0,Krunal Pandya,Virat Kohli,59.0,Krunal Pandya,3--29
1,2,"March 23,2025","Rajiv Gandhi International Stadium, Hyderabad",SRH,RR,League,RR,Bowl,286.0,6.0,...,completed,SRH,44,NaN,0.0,Ishan Kishan,Ishan Kishan,106.0,Tushar Deshpande,3--44
2,3,"March 23,2025","MA Chidambaram Stadium, Chennai",CSK,MI,League,CSK,Bowl,155.0,9.0,...,completed,CSK,NaN,4,5.0,Noor Ahmad,Rachin Ravindra,65.0,Noor Ahmad,4--18
3,4,"March 24,2025","ACA-VDCA Cricket Stadium, Vishakhapatnam",DC,LSG,League,DC,Bowl,209.0,8.0,...,completed,DC,NaN,1,3.0,Ashutosh Sharma,Nicholas Pooran,75.0,Mitchell Starc,3--42
4,5,"March 25,2025","Narendra Modi Stadium, Ahmedabad",GT,PBKS,League,GT,Bowl,243.0,5.0,...,completed,PBKS,11,NaN,0.0,Shreyas Iyer,Shreyas Iyer,97.0,Sai Kishore,3--30

In [44]:
matches_dataset.shape

(74, 22)

In [116]:
# Number of matches won batting first
battingFirstWhenTossLost = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team1']) & (matches_dataset['toss_decision'] == 'Bowl') & (matches_dataset['team2'] == matches_dataset['match_winner'])];
battingFirstWhenTossWon = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team1']) & (matches_dataset['toss_decision'] == 'Bat') & (matches_dataset['team1'] == matches_dataset['match_winner'])];
battingFirstWhenTossLost2 = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team2']) & (matches_dataset['toss_decision'] == 'Bowl') & (matches_dataset['team2'] == matches_dataset['match_winner'])];
battingFirstWhenTossWon2 = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team2']) & (matches_dataset['toss_decision'] == 'Bat') & (matches_dataset['team1'] == matches_dataset['match_winner'])];
# print(battingFirstWhenTossLost.shape)
# print(battingFirstWhenTossWon.shape)
# print(battingFirstWhenTossWon2.shape)
# print(battingFirstWhenTossLost2.shape)
wonBattingFirst = pd.concat([battingFirstWhenTossLost, battingFirstWhenTossWon, battingFirstWhenTossLost2, battingFirstWhenTossWon2]).reset_index(drop=True)
print(wonBattingFirst.shape)
wonBattingFirst.head()

(38, 22)

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,...,match_result,match_winner,wb_runs,wb_wickets,balls_left,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,5,"March 25,2025","Narendra Modi Stadium, Ahmedabad",GT,PBKS,League,GT,Bowl,243.0,5.0,...,completed,PBKS,11,NaN,0.0,Shreyas Iyer,Shreyas Iyer,97.0,Sai Kishore,3--30
1,8,"March 28,2025","MA Chidambaram Stadium, Chennai",CSK,RCB,League,CSK,Bowl,196.0,7.0,...,completed,RCB,50,NaN,0.0,Rajat Patidar,Rajat Patidar,51.0,Josh Hazlewood,3--21
2,18,"April 05,2025","New PCA Cricket Stadium, Mullanpur",PBKS,RR,League,PBKS,Bowl,205.0,4.0,...,completed,RR,50,NaN,0.0,Jofra Archer,Yashasvi Jaiswal,67.0,Jofra Archer,3--25
3,20,"April 07,2025","Wankhede Stadium, Mumbai",MI,RCB,League,MI,Bowl,221.0,5.0,...,completed,RCB,12,NaN,0.0,Rajat Patidar,Virat Kohli,67.0,Krunal Pandya,4--45
4,21,"April 08,2025","Eden Gardens, Kolkata",KKR,LSG,League,KKR,Bowl,238.0,3.0,...,completed,LSG,4,NaN,0.0,Nicholas Pooran,Nicholas Pooran,87.0,Harshit Rana,2--51

In [118]:
# Number of matches won bowling first
bowlingFirstWhenTossWon = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team1']) & (matches_dataset['toss_decision'] == 'Bowl') & (matches_dataset['team1'] == matches_dataset['match_winner'])];
bowlingFirstWhenTossLost = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team1']) & (matches_dataset['toss_decision'] == 'Bat') & (matches_dataset['team2'] == matches_dataset['match_winner'])];
bowlingFirstWhenTossWon2 = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team2']) & (matches_dataset['toss_decision'] == 'Bowl') & (matches_dataset['team1'] == matches_dataset['match_winner'])];
bowlingFirstWhenTossLost2 = matches_dataset[(matches_dataset['toss_winner'] == matches_dataset['team2']) & (matches_dataset['toss_decision'] == 'Bat') & (matches_dataset['team2'] == matches_dataset['match_winner'])];
# print(bowlingFirstWhenTossLost.shape)
# print(bowlingFirstWhenTossWon.shape)
# print(bowlingFirstWhenTossLost2.shape)
# print(bowlingFirstWhenTossWon2.shape)
wonBowlingFirst = pd.concat([bowlingFirstWhenTossLost, bowlingFirstWhenTossWon, bowlingFirstWhenTossLost2, bowlingFirstWhenTossWon2]).reset_index(drop=True)
print(wonBowlingFirst.shape)
wonBowlingFirst.head()

(33, 22)

,match_id,date,venue,team1,team2,stage,toss_winner,toss_decision,first_ings_score,first_ings_wkts,...,match_result,match_winner,wb_runs,wb_wickets,balls_left,player_of_the_match,top_scorer,highscore,best_bowling,best_bowling_figure
0,57,"May 7,2025","Eden Gardens, Kolkata",KKR,CSK,League,KKR,Bat,179.0,6.0,...,completed,CSK,NaN,2,2.0,Noor Ahmad,Dewald Brevis,52.0,Noor Ahmad,4--31
1,3,"March 23,2025","MA Chidambaram Stadium, Chennai",CSK,MI,League,CSK,Bowl,155.0,9.0,...,completed,CSK,NaN,4,5.0,Noor Ahmad,Rachin Ravindra,65.0,Noor Ahmad,4--18
2,4,"March 24,2025","ACA-VDCA Cricket Stadium, Vishakhapatnam",DC,LSG,League,DC,Bowl,209.0,8.0,...,completed,DC,NaN,1,3.0,Ashutosh Sharma,Nicholas Pooran,75.0,Mitchell Starc,3--42
3,12,"March 31,2025","Wankhede Stadium, Mumbai",MI,KKR,League,MI,Bowl,116.0,10.0,...,completed,MI,NaN,8,43.0,Ashwani Kumar,Ryan Rickelton,62.0,Ashwani Kumar,4--24
4,26,"April 12,2025","Ekana Cricket Stadium, Lucknow",LSG,GT,League,LSG,Bowl,180.0,6.0,...,completed,LSG,NaN,6,3.0,Aiden Markram,Nicholas Pooran,61.0,Prasidh Krishna,2--26

In [ ]:
from sklearn.linear_model import LinearRegression;
from sklearn.model_selection import train_test_split;